<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cytology master</title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        {{#each other_styles}}
            <link rel="stylesheet" type="text/css" href="/static/css/{{this}}.css">
        {{/each}}
        {{#if use_menu}}
            <link rel="stylesheet" type="text/css" href="/static/css/menu.css">
        {{/if}}
        <meta charset="UTF-8">
    </head>
    <body>
        {{#if use_menu}}
            {{>menu}}
        {{/if}}
        {{{body}}}

        <footer>&copy;Cytology Master - 2022. GNU GPL v.3 licence. All rights reserved</footer>
        {{#if jquery-ui}}
            <script type="text/javascript" src="/lib/jquery/jquery.min.js"></script>
            <script type="text/javascript" src="/lib/jquery-ui/jquery-ui.min.js"></script>
            {{#if use_menu}}
            	<script type="text/javascript" src="/static/js/menu.js"></script>
            {{/if}}
        {{else}}
            {{#if use_menu}}
                <script type="text/javascript" src="/lib/jquery/jquery.min.js"></script>
            	<script type="text/javascript" src="/static/js/menu.js"></script>
            {{else}}
                {{#if jquery}}
                    <script type="text/javascript" src="/lib/jquery/jquery.min.js"></script>
                {{/if}}
            {{/if}}
        {{/if}}
        {{#if use_react}}
            <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
            <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
        {{/if}}
        {{#each other_scripts}}
            <script type="text/javascript" src="/static/js/{{this}}.js"></script>
        {{/each}}
    </body>
</html>
