<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Cytology master</title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        {{#each other_styles}}
            <link rel="stylesheet" type="text/css" href="/static/css/{{this}}.css">
        {{/each}}
        {{#if use_menu}}
            <link rel="stylesheet" type="text/css" href="/static/css/menu.css">
        {{/if}}
        {{#if use_awesome}}
            <script src="https://kit.fontawesome.com/85099a76d6.js" crossorigin="anonymous"></script>
        {{/if}}
    </head>
    <body>
        {{#if use_menu}}
            {{>menu}}
        {{/if}}
        {{{body}}}

        <footer>&copy;Cytology Master - 2022. GNU GPL v.3 licence. All rights reserved</footer>
        {{#if jquery-ui}}
            <script type="text/javascript" src="/lib/jquery/jquery.min.js"></script>
            <script type="text/javascript" src="/lib/jquery-ui/jquery-ui.min.js"></script>
            {{#if use_menu}}
            	<script type="text/javascript" src="/static/js/menu.js"></script>
            {{/if}}
        {{else}}
            {{#if use_menu}}
                <script type="text/javascript" src="/lib/jquery/jquery.min.js"></script>
            	<script type="text/javascript" src="/static/js/menu.js"></script>
            {{else}}
                {{#if jquery}}
                    <script type="text/javascript" src="/lib/jquery/jquery.min.js"></script>
                {{/if}}
            {{/if}}
        {{/if}}
        {{#if use_react}}
            <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
            <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
        {{/if}}
        {{#each other_scripts}}
            <script type="text/javascript" src="/static/js/{{this}}.js"></script>
        {{/each}}
        {{#if use_facebook}}
            <script>
            window.fbAsyncInit = function() {
                FB.init({
                appId      : '511975923777545',
                cookie     : true,
                xfbml      : true,
                version    : '13.0'
                });
                
                FB.AppEvents.logPageView();   
                
            };

            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
            </script>
        {{/if}}
    </body>
</html>
